canvas {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5)
}

/* .app-wrapper {
  background-image: url(./Assets/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
} */
